@{
    ViewData["Title"] = "Favourites";
}

<form id="adopt-form">
    <input type="text" id="ownerName" class="form-control rounded" />
    <input type="text" id="personalName" class="form-control rounded" />
    <input type="submit" value="Adopt!" />
</form>