@model Pokemon
@{
    ViewData["Title"] = "Favourites";
}
<div>

    @{
        if (Model.PokemonId != 0)
        {
            <img class="card-img-top" src="~/Graphics/Sprites/front_default/@(Model.PokemonId).png" alt="image" style="width:400px;height:400px" />
        }
    }

    <form id="adopt-form">
        <div class="input-group">
            <label>Your name: </label>
            <input type="text" name="ownerName" class="form-control rounded" />
        </div>
        <div class="input-group">
            <label>Pokemon's nickname: </label>
            <input type="text" name="personalName" class="form-control rounded" />
        </div>
        <div class="input-group">
            <label>Pokemon Id: </label>

            <input type="text" name="pokemonId" class="form-control rounded" value="@Model.PokemonId" @(Model.PokemonId==0 ?"":"readonly")/>
            


        </div>
        <input type="submit" value="Adopt!" asp-controller="Favourites" asp-action="AddFavourite" />
    </form>
</div>


